# Prerequisites
*.d
*.dep
*.pre

# Object files
*.o
*.ko
*.obj
*.elf
*.as

# Linker output
*.ilk
*.map
*.exp
funclist

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/PIC18/watch/.vscode
*.p1
PIC18/watch/htplug-out111.tmp
PIC18/watch/watch.sym
PIC18/watch/watch.sdb
PIC18/watch/watch.rlf
PIC18/watch/startup.lst
PIC18/watch/startup.rlf
PIC18/watch/watch.cof
PIC18/watch/watch.hxl
PIC18/watch/watch.lst
